{% extends 'veterinaria/base.html' %}
{% load static %}
{% load humanize %} <!-- Carga la etiqueta de formato Django para poder usar |intcomma -->

{% block title %}Carrito{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h2>Carrito de compras</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Valor</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>
                    <form action="{% url 'actualizar_cantidad' item.codigo %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" name="accion" value="restar" class="btn btn-danger btn-sm">-</button>
                        <span>{{ item.cantidad }}</span>
                        <button type="submit" name="accion" value="sumar" class="btn btn-success btn-sm">+</button>
                        <span> maximo 5 unidades </span>
                    </form>
                </td>
                <td>${{ item.valor|intcomma }}</td>
                <td>${{ item.total|intcomma }}</td>
                <td>
                    <form action="{% url 'eliminar_del_carrito' item.codigo %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'pagar_carrito' %}" method="POST" class="d-inline">
      {% csrf_token %}
      <h5>Total IVA: ${{ total_iva|intcomma }}</h5>
      <h5>Total a pagar: ${{ total_pago|intcomma }}</h5>
      <button type="submit" class="btn btn-primary ">Pagar</button>
    </form>
    {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} {% if message.tags == 'error' %}alert-danger{% endif %}" role="alert">
        {{ message }}
        </div>
        {% endfor %}
        </div>
    {% endif %} 
</div>
<br>
{% endblock %}
