{% extends 'veterinaria/base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block content %}
  <!-- Inicio sección de registro -->
  <section class="container">
    <div class="container">
      <div class="text-center">
        <h3>Actualizar producto</h3>
        <img src="{% static 'imagenes/logo.png' %}" style="width: 185px;" alt="logo">
      </div>
    </div>
    <form action="{% url 'productoUpdate' %}" method="post" class="was-validated">
      {% csrf_token %}
      <div class="container row mx-auto registro">
        <div class="col-md-4 col-lg-4">
          <div class="mb-3 ">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre" name="nombre" value="{{ producto.nombre }}" required autocomplete="off" oninput="validarTexto('nombre')">
            <span id="nombre-error"></span>
          </div>
          <div class="mb-3 ">
            <label for="codigo" class="form-label">Código:</label></th>
            <input type="text" class="form-control" id="codigo" placeholder="Ingresa el código" name="codigo" value="{{ producto.codigo }}" readonly>
          <span id="codigo-error"></span>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="mb-3 ">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="text" class="form-control" id="cantidad" placeholder="Ingresa la cantidad" name="cantidad" value="{{ producto.cantidad }}" required autocomplete="off" oninput="validarNumero('cantidad')">
            <span id="cantidad-error"></span>
          </div>
          <div class="mb-3 "> 
            <label for="valor" class="form-label">Valor:</label>
            <input type="text" class="form-control" id="valor" placeholder="Ingresa el valor" name="valor" value="{{ producto.valor }}" required autocomplete="off" oninput="validarNumero('valor')">
            <span id="valor-error"></span>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="mb-3 ">
            <label for="descripcion" class="form-label">Descripcion:</label>
            <textarea type="text" class="form-control" id="descripcion" placeholder="Ingresa la descripcion" name="descripcion" required autocomplete="off" oninput="validarTexto('descripcion')">{{ producto.descripcion }}</textarea>
            <span id="descripcion-error"></span>
          </div>
          <div class="mb-3">
            <input type="file" class="form-control mt-2" id="imagen" name="imagen" accept="image/*">
            <label for="imagen" class="form-label">Imagen:</label>
            {% if producto.imagen %}
                {% if producto.imagen.url %}
                    <!-- Mostrar la imagen actual del producto si existe -->
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="img-fluid">
                {% else %}
                    <p>No hay imagen asociada.</p>
                {% endif %}
            {% endif %}
            
            <!-- Agregar un campo oculto para mantener la URL de la imagen actual -->
            {% if producto.imagen and producto.imagen.url %}
                <input type="hidden" name="imagen_actual" value="{{ producto.imagen.url }}" id="imagen_actual">
            {% else %}
                <input type="hidden" name="imagen_actual" value="" id="imagen_actual">
            {% endif %}
        </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary"id="botonCrearCuenta"onclick="validarProducto()">Actualizar producto</button>
  </form>
  
  </section>
<!-- Fin de sección de registro -->
{% endblock %}


<table>
  <tr>
    
      <th><label for="codigo" class="form-label">Código:</label></th>
      <td>

      <th><label for="nombre" class="form-label">Nombre:</label></th>
      <td>
      <span id="nombre-error"></span></td>

      <th><label for="valor" class="form-label">Valor:</label></th>
      <td>
      <span id="valor-error"></span></td>

      <th><label for="cantidad" class="form-label">Cantidad:</label></th>
      <td>
      <span id="cantidad-error"></span></td>
  </tr>
</table>