{% extends 'veterinaria/base.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}

  <section class="container">
    <img class="img-fluid" src="{% static 'imagenes/banner_productos1.png' %}" alt="banner_productos">
  </section>

  <!--Fin banner_productos-->

  <!--Inicio card productos-->
  <section class="container" id="Productos">
  <section class="row" id="Alimentos">
    <div class="card container col-lg-2 col-md-6" style="width: 15rem ;">
      <img src="{% static 'imagenes/comida1.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, adipisci!</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 15rem ;">
      <img src="{% static 'imagenes/comida2.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, unde.</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 15rem;">
      <img src="{% static 'imagenes/comida3.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, maiores..</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 15rem ;">
      <img src="{% static 'imagenes/comida4.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida 4</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, molestiae!</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>
  </section>

  <section class="row" id="Alimentos">
    <div class="card container col-lg-2 col-md-6" style="width: 18rem ;">
      <img src="{% static 'imagenes/arena1.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arena 1</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, adipisci!</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 18rem ;">
      <img src="{% static 'imagenes/arena2.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arena 2</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, unde.</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 18rem ;">
      <img src="{% static 'imagenes/arena3.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arena 3</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, maiores..</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>

    <div class="card container col-lg-2 col-md-6" style="width: 18rem ;">
      <img src="{% static 'imagenes/arena4.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arena 4</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, molestiae!</p>
        <a href="#" class="btn btn-primary">Añadir al carrito</a>
      </div>
    </div>
  </section>
  </section>
  <!--Fin card productos-->
{% endblock %}