{% extends 'veterinaria/base.html' %}
{% load static %}

{% block title %}Servicios{% endblock %}

{% block content %}
  <!-- Inicio sección de servicios -->
  <div class="container row mx-auto ">
    <h1 class="titulo">Nuestros servicios</h1>
    <!-- Primer conjunto de columnas -->
    <h2 class="display-6 titulo">Consultas</h2>
    <div class="col-md-12 col-lg-7 servicios">
      <p class="h5">Reserva citas para tu mascota de manera rápida y conveniente a través de WhatsApp. Ya sea para consultas presenciales en nuestra clínica o sesiones virtuales, nuestro equipo estará encantado de atenderte y brindarte el mejor cuidado para tu compañero peludo, ¡todo con solo un mensaje!</p>
      <br>
      <a type="button" class="btn btn-success" href="https://wa.me/56939635536"><i class="bi bi-whatsapp"></i> Agenda tu visita</a>
    </div>  
    <!-- Imagen -->
    <div class="col-md-12 col-lg-5 ">
      <img class="img-fluid" src="{% static 'imagenes/servicio-consulta.gif' %}">
    </div>

    <!-- Segundo conjunto de columnas para pantalla completa -->
    <h2 class="display-6 d-none d-lg-block titulo">Peluqueria</h2>
    <!-- Imagen -->
    <div class=" d-none d-lg-block col-lg-5 ">
      <img class="img-fluid" src="{% static 'imagenes/servicio-peluqueria.gif' %}">
    </div>
    <div class="d-none d-lg-block col-lg-7 servicios">
      
      <p class="h5">¡Programa el próximo spa de tu mascota en nuestra peluquería con un simple mensaje por WhatsApp! Desde cortes de pelo a la moda hasta baños relajantes, reserva fácilmente el cuidado que tu amigo peludo merece con solo unos toques en tu teléfono.</p>
      <br>
      <a type="button" class="btn btn-success" href="https://wa.me/56939635536"><i class="bi bi-whatsapp"></i> Agenda tu visita</a>
    </div>

      <!-- Segundo conjunto de columnas para pantalla pequeña -->
      <h2 class="display-6 d-lg-none titulo">Peluqueria</h2>
    <div class="servicios d-lg-none col-md-12 col-lg-7 ">
      
      <p class="h5">¡Programa el próximo spa de tu mascota en nuestra peluquería con un simple mensaje por WhatsApp! Desde cortes de pelo a la moda hasta baños relajantes, reserva fácilmente el cuidado que tu amigo peludo merece con solo unos toques en tu teléfono.</p>
      <br>
      <a type="button" class="btn btn-success" href="https://wa.me/56939635536"><i class="bi bi-whatsapp"></i> Agenda tu visita</a>
    </div>
    <!-- Imagen -->
    <div class="d-lg-none col-md-12 col-lg-5 ">
      <img class="img-fluid" src="{% static 'imagenes/servicio-peluqueria.gif' %}">
    </div>

    <!-- Tercer conjunto de columnas -->
    <h2 class="display-6 titulo ">Urgencias</h2>
    <div class="servicios col-md-12 col-lg-7">
      <p class="h5">¡En momentos de emergencia, estamos aquí para ayudar! Contacta con nuestro centro veterinario a través de WhatsApp para recibir atención inmediata para tu mascota. Ya sea un accidente repentino o una preocupación médica, nuestro equipo está listo para proporcionar el cuidado urgente que tu amigo peludo necesita, las 24 horas del día, los 7 días de la semana.</p>
      <br>
      <a type="button" class="btn btn-success" href="https://wa.me/56939635536"><i class="bi bi-whatsapp"></i> Consulta disponibilidad</a>
    </div>
    <!-- Imagen -->
    <div class="col-md-12 col-lg-5 ">
      <img class="img-fluid" src="{% static 'imagenes/servicio-urgencia.gif' %}">
    </div>
  </div>
  <!-- Fin sección de servicios -->
{% endblock %}